{% extends 'UnityBundle:Tipos:layout.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% set pageTitle = "Crear Tipo" %}

{% block content %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('tipo_index') }}">Lista de Tipos</a>
        </li>
    </ul>
{% endblock %}
