<nav class="navbar fixed-top navbar-inverse navbar-toggleable-md">

    <a class="navbar-brand" href="#">Sistema de Drogas</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainPage .sidebar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="">
        <form class="form-inline my-2 my-lg-0">
            <a href="#" class="btn btn-outline-success my-2 my-sm-0">LogIn</a>
        </form>
    </div>
</nav>