{% extends 'MovementBundle:Motivo:base.html.twig' %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Movimientos</li>
        <li class="breadcrumb-item active">Motivos</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                Lista de Motivo
                <div class="btn-group pull-right">
                    <a class="btn btn-primary" href="{{ path('motivo_new') }}">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Agregar
                    </a>
                </div>
            </h4>
        </div>
        <div class="card-body">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Detalle</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for motivo in motivos %}
                    <tr>
                        <td>{{ motivo.nombre }}</td>
                        <td>{{ motivo.detalle }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="{{ path('motivo_edit', { 'id': motivo.id }) }}" class="btn btn-info"><i
                                            class="fa fa-pencil" aria-hidden="true"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
