<nav class="flex-row">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('tipo_index') }}">Tipos de Unidades</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('unidades_index') }}">Unidades</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Analytics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Export</a>
        </li>
    </ul>
</nav>