<nav>
    <ul>
        <li class="active">
            <a href="{{ path('unidades_index') }}">
                <i class="fa fa-calendar" aria-hidden="true"></i> Unidades Ejecutoras
            </a>
        </li>
        <li class="active">
            <a href="{{ path('tipo_index') }}">
                <i class="fa fa-calendar" aria-hidden="true"></i> Tipos de Unidades
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-calendar" aria-hidden="true"></i> Lugares Físicos
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-users" aria-hidden="true"></i> Usuarios
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-calendar" aria-hidden="true"></i> Lugares Físicos
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-calendar" aria-hidden="true"></i> Clases de Sustancias
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-calendar" aria-hidden="true"></i> Motivo de Movimiento
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-calendar" aria-hidden="true"></i> Unidades de Medida
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-calendar" aria-hidden="true"></i> Entidades Reguladoras
            </a>
        </li>
    </ul>
</nav>