{% extends "DrugBundle:Lugar:base.html.twig" %}

{#% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %#}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Drogueros</li>
        <li class="breadcrumb-item"><a href="{{ path('lugares_fisicos_index') }}">Lugares Fisicos</a></li>
        <li class="breadcrumb-item active">{{ lugar.nombre }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-block">
            <h4 class="card-title"> Editar Lugar Físico</h4>
        </div>
    </div>
{% endblock %}
